.bike-specs {
  display: flex;
  list-style-type: none;
  font-size: 25px;
  color: #3f3e3e;
  li {
    margin: 0 16px;
  }
}

ul.bike-specs {
  padding: 0;
}


form {
  width: 300px;
  h4 {
    margin-top: 16px;
    margin-bottom: 0;
  }
  p {
    margin: 8px;
  }
}

.bike-container {
  display: flex;
  justify-content: space-between;
}


