.cards {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.home-card {
  border: none;
  img {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.card-text, .card-title {
  margin-bottom: 8px;
}

.card-content {
  margin-top: 10px;
}

.cards, .index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .cards, .index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards, .index-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 414px) {
  .cards, .index-cards {
    grid-template-columns: 1fr;
  }
}
