.cards {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.home-card {
  border: none;
  img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.card-content {
  margin-top: 10px;
}

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .index-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 414px) {
  .index-cards {
    grid-template-columns: 1fr;
  }
}
