.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 40px;
}

.avatar {
  width: 20px;
  height: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.greeting {
  margin-right: 8px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
